@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Cabin:700");
*, :after, :before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  line-height: 1.15;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  background-color: #000;
  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  margin: 0 0 35px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  text-decoration: none;
}

img {
  border-style: none;
  vertical-align: middle;
}

button {
  border-radius: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
button:not(:disabled) {
  cursor: pointer;
}

a {
  color: #FF007B;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #fff;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  color: #FF007B;
  border: 1px solid #FF007B;
  min-width: 180px;
}
.btn:hover {
  color: #000;
  background-color: #FF007B;
  outline: none;
}
.btn .btn-text {
  font-weight: bold;
}
.btn .fab {
  font-size: 25px;
  margin-top: 5px;
}

.reach-out-btn {
  margin-bottom: 20px;
  min-height: 110px;
}

.btn-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  font-size: 26px;
  width: 55px;
  height: 55px;
  line-height: 45px;
  border: 2px solid #fff;
  border-radius: 100% !important;
  color: #fff;
  min-width: 0;
}
.btn-down:hover {
  color: #FF007B !important;
  border-color: #FF007B;
  background-color: hsla(0deg, 0%, 100%, 0.1);
}

.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 2.5rem;
}

#navbar {
  font-family: Cabin, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}
#navbar .centered-stuff {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: auto;
}
#navbar .centered-stuff #navbar-brand {
  height: 100%;
}
#navbar .centered-stuff .navbar-list {
  width: 100%;
}
#navbar .centered-stuff .navbar-list .navbar-brand {
  float: left !important;
}
#navbar .centered-stuff .navbar-list .navbar-item {
  display: inline;
  float: right;
}
#navbar .centered-stuff .navbar-list .navbar-item .navbar-link {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem 1.2rem;
  letter-spacing: 1px;
  transition: all 0.2 ease-in-out;
}
#navbar .centered-stuff .navbar-list .navbar-item .navbar-link:hover {
  color: #000;
  background-color: #fff;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.0001% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#landing-section {
  width: 100%;
  height: 100%;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgb(0, 0, 0)), url("bg-grayscale.jpg");
  background-size: cover;
  display: table;
  text-align: center;
  color: #fff;
}
#landing-section .landing-body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  max-width: 720px;
}
#landing-section .landing-body .heading-title {
  font-size: 5rem;
}
#landing-section .landing-body .heading-title::after {
  content: "_";
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 5rem;
  z-index: 999999;
}

footer {
  padding: 50px 0;
  text-align: center;
}
footer p {
  font-size: 14px;
  margin: 0;
  opacity: 0.5;
}

#about-section {
  display: flex;
  width: 40%;
  height: 100%;
  margin: auto;
  text-align: center !important;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

#reach-out-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  margin: auto;
  text-align: center !important;
  vertical-align: middle;
}

/*# sourceMappingURL=seif.css.map */
